<div class="container">
<div class="jumbotron">
	<h3>Whatte</h3><h4><%= @user.email %></h4>
	<%= link_to 'Logout', logout_path, method: :delete %>
</div>
<!--div class="row"-->

<div class="well col-md-4">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum Torquatus: Prorsus, inquit, assentior; Non potes, nisi retexueris illa. Duo Reges: constructio interrete. Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur. Inde sermone vario sex illa a Dipylo stadia confecimus. Nondum autem explanatum satis, erat, quid maxime natura vellet.
</div>

<div class="well col-md-4">
Age, inquies, ista parva sunt. Nec vero hoc oratione solum, sed multo magis vita et factis et moribus comprobavit. Nemo nostrum istius generis asotos iucunde putat vivere. Teneo, inquit, finem illi videri nihil dolere. Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Hoc non est positum in nostra actione. Hoc loco tenere se Triarius non potuit. Igitur neque stultorum quisquam beatus neque sapientium non beatus. Quid est igitur, inquit, quod requiras?
</div>

<div class="well col-md-3">
Non autem hoc: igitur ne illud quidem. Etenim semper illud extra est, quod arte comprehenditur. Quod idem cum vestri faciant, non satis magnam tribuunt inventoribus gratiam. Quorum altera prosunt, nocent altera. Quae si potest singula consolando levare, universa quo modo sustinebit?
</div>
<!--/div-->
<span class="clearfix visible-md"></span>
<div class="well col-md-4">
Quod cum accidisset ut alter alterum necopinato videremus, surrexit statim. Haec dicuntur inconstantissime. Quod totum contra est. Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. At iste non dolendi status non vocatur voluptas. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Quod iam a me expectare noli. Dat enim intervalla et relaxat.
</div>

<div class="well col-md-4">
Levatio igitur vitiorum magna fit in iis, qui habent ad virtutem progressionis aliquantum. Themistocles quidem, cum ei Simonides an quis alius artem memoriae polliceretur, Oblivionis, inquit, mallem. Age sane, inquam. Quam ob rem tandem, inquit, non satisfacit? Restatis igitur vos; Qualem igitur hominem natura inchoavit? Te enim iudicem aequum puto, modo quae dicat ille bene noris. An ea, quae per vinitorem antea consequebatur, per se ipsa curabit? Quamvis enim depravatae non sint, pravae tamen esse possunt.
</div>
</div>
